* {
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
body {
    background-color: beige;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
}
h1, h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
    color: orangered;
}
p {
    text-align: left;
}
 h1 {
    text-align: center;
 }
 h2 {
    text-decoration: underline;
 }
 header {
    background-color: black;
    padding: 0.1rem;

 }
 
nav {
    display: none;
}
footer {
    
    text-transform: uppercase;
}
.mobile_nav {
    display: flex;
    justify-content: space-evenly;
}
.mobile_nav li {
    list-style: none;
}
.mobile_nav a {
    text-decoration: none;
    list-style: none;
    color: orange;
}
main, footer, hr {
    max-width: 90%;
    margin: 0 auto;
}
hr {
    margin: 2rem auto;
}
strong {
    font-size: 1.2rem;
}
summary {
    margin-bottom: 1rem;
}
@media only screen and (min-width: 550px) {
    .mobile_nav {
        display: none;
    }
    .header {
        max-width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    nav {
        display: block;
        color: white;
    }
   .nav_links {
    display: flex;
   }
   .nav_links a {
    text-decoration: none;
    color: orange;
    text-transform: uppercase;
   }
   .nav_item {
    list-style: none;
    font-size: 1.1rem;
   }
   .nav_item + .nav_item {
    margin-left: 1.2rem;
   }
   .about_me {
    display: flex;
    justify-content: space-between;
   }
   .row img {
    margin-top: 1rem;
    
   }
   .row + .row{
    margin-left: 2.5rem;
   }
   p {
    font-size: 1.05rem;
    letter-spacing: 0.8px;
    line-height: 1.7;
   }
   .my_projects img {
    max-width: 70%;
   }
   .my_projects p {
    max-width: 70%;
   }
}
